
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h3 class="aleert alert-success">Dolar Alış: @ViewBag.exchangeRateUsd ₺ - Dolar Satış: @ViewBag.previousCloseUsd ₺</h3>
    <h3 class="aleert alert-danger">Euro Alış: @ViewBag.exchangeRateEur ₺ - Euro Satış: @ViewBag.previousCloseEur ₺</h3>
</div>
